@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: "Karla", sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(180deg, #031321 0%, #021e34 100%);
  color: white;
  position: relative;
}
nav {
  position: fixed;
  /* width: calc(100% - 1.4em); */
  width: 100%;
  background: #19253a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.7em; */
  padding: 0em;
  font-size: 1.2em;
  z-index: 9999 !important;
  transition: 500ms ease;
  transform: translateY(-100%);
  padding-block: 0.5em;
  animation: fadeDown 300ms linear 800ms forwards;
}
@keyframes fadeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
a {
  text-decoration: none;
}
.Vlogo {
  height: 50px;
  margin-left: 1em;
}
img {
  height: 100%;
  min-width: 100%;
}
.links {
  position: absolute;
  top: 3.5em;
  list-style: none;
  background-color: #19253a;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;
  transform: translateY(-200%);
  transition: transform 1ms ease 300ms;
  animation: fadeS 300ms ease forwards;
}

@keyframes fadeS {
  to {
    opacity: 0;
  }
}
.link {
  border-bottom: 3px solid transparent;
  font-weight: 800;
  cursor: pointer;
  padding: 0.7em 1em;

  margin: 0em;
  transition: 300ms ease;
}
.linkTag {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #939aa3;
  margin: 0em;
  transition: 300ms ease;
  border-bottom: 3px solid transparent;
  width: 100vw !important;
}
.selected {
  border-color: #ff1c5e;
  color: white !important;
}
.show {
  transform: translateY(-0em);
  transition: transform 0s;
  animation: fadeIn 300ms ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link:hover {
  border-color: #ff1c5e;
  transition: 300ms ease;
}
.link:hover a {
  transition: 300ms ease;
}
.burger,
.close {
  width: 25px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  cursor: pointer;
  margin-right: 2em;
}
.burger span,
.close span {
  position: absolute;
  width: 25px;
  height: 2px;
  background: white;
  border-radius: 3px;
  top: 5px;
}
.burger__span1 {
  transform: scale(0);
  animation: topAbottomSpan 300ms ease forwards;
}

.burger__span2 {
  top: 13px !important;
  transform: rotate(-45deg);
  animation: closeXL 300ms ease forwards;
}
.burger__span3 {
  top: 13px !important;
  transform: rotate(45deg);
  animation: closeXR 300ms ease forwards;
}
.burger__span4 {
  top: 21px !important;
  transform: scale(0);
  animation: topAbottomSpan 300ms ease forwards;
}
@keyframes topAbottomSpan {
  to {
    transform: scale(1);
  }
}
@keyframes closeXL {
  to {
    transform: rotate(0deg);
  }
}
@keyframes closeXR {
  to {
    transform: rotate(0deg);
  }
}
.close__span1 {
  top: 5px !important;
  animation: span3 300ms ease forwards;
}
.close__span2 {
  top: 13px !important;
  animation: openXL 300ms ease forwards;
  scale: 0;
}
.close__span3 {
  top: 13px !important;
  transform: scale(1);
  animation: openXR 300ms ease forwards;
  scale: 0;
}

.close__span4 {
  top: 21px !important;
  animation: span3 300ms ease forwards;
}

@keyframes span3 {
  to {
    transform: scale(0);
  }
}
@keyframes openXL {
  to {
    transform: rotate(45deg) scale(1);
  }
}
@keyframes openXR {
  to {
    transform: rotate(-45deg) scale(1);
  }
}
@media (min-width: 990px) {
  nav {
    background: transparent !important;
    position: fixed;
    /* width: 100%; */
    padding-inline: 2em;
    width: calc(100% - 4em);
    /* padding-block: 0.25em !important; */
  }
  .navbar {
    padding: 0em;
    background-color: #19253a !important;

    transition: 500ms ease;
    width: 100%;
  }

  .sd {
    min-width: 50px;
    min-height: 70px;
    padding: 1em;
  }
  .Vlogo {
    width: 30px;
    padding: 0.5em;
  }

  .links {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60em;
    margin: 0em;
    padding: 0em;
    margin-inline: 2em;
    opacity: 1;
    transform: translateY(0%);
    top: 0em;
    margin-right: 1em !important;
    background-color: transparent;
    flex-direction: row;
    animation: none;
  }

  .linkTag {
    width: auto !important;
  }
  .show {
    transform: none;
    opacity: 1;
    transition: none;
  }

  .link {
    list-style: none;
    margin: 0em;
    padding: 0.5em 0em;
  }
  .burger,
  .close {
    display: none;
  }
}
/* ============
 =========Home===
 */
.HOME {
  /* min-height: 1117px; */
  position: relative;
  min-height: calc(100vh - 190px);
  background-image: url("https://arenavs.com/images/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;
  text-align: center;
  padding-top: 5em;
}
.HOME::after {
  content: "";
  position: absolute;
  top: calc(100% - 137px);
  left: 0;
  right: 0;
  height: 137px;
  background: url(../src/components/images/contentbg.png) 50% 0 no-repeat;
}
.mainImg {
  position: absolute;
  bottom: 0px;
  width: 280px;
  z-index: 0;
}
.mainLeft {
  left: -40px;
  transform: translateX(-150%);
  animation: fadeRight 300ms linear forwards 500ms;
}
.mainRight {
  right: -75px;
  transform: translateX(150%);
  animation: fadeLeft 300ms linear forwards 500ms;
}
.Home__Title {
  position: relative;
  margin-top: 2.5em;
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 900;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards;
}

@keyframes fadeRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Home__Title span {
  font-size: 70px;
  line-height: 1em;
  margin: 0em;
}
.desc {
  position: relative;
  z-index: 10;
  font-size: 20px;
  line-height: 2em;
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards;
}
.Discover__button {
  position: relative;
  z-index: 10;
  padding: 1em 0.6em;
  background-color: #ff1c5e;
  border-radius: 13px;
  margin-top: 0.5em;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 200ms ease;
  min-width: 130px;
  max-width: 150px;
  margin-inline: auto;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards;
}
.Discover__button:hover {
  background-color: #e80043;

  transition: 200ms ease;
}
.downloads {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.inner__downloads {
  display: flex;
  justify-content: space-around;
  /* margin-top: 5em; */
  padding-inline: 1em;
}
.appleStore {
  margin-right: 0.5em;
}
.appStore {
  margin-left: 0.5em;
}
@media (min-width: 990px) {
  .HOME {
    min-height: 1117px;
    /* height: 1000px; */
    overflow-y: hidden;
    padding: 0em;
  }
  .Home__Title {
    margin-top: 40vh;
    font-size: 5vw;
  }
  .Home__Title span {
    font-size: 9vw;
  }
  .desc {
    font-size: 3vw;
  }
  .Discover__button {
    padding: 1em 3em;
  }
  /* .downloads {
    bottom: 15%;
  } */
  .mainLeft {
    min-width: 730px;
    height: 1038px;
    left: -70px;
  }
  .scale {
    animation: mainLeft linear 4s infinite 1000ms;
  }
  .mainRight {
    height: 900px;
    min-width: 700px;
    right: -150px;
  }
  @keyframes mainLeft {
    50% {
      transform: scale(1.1);
    }
  }
}
/* =========== 
======About===
=======*/
.About {
  position: relative;
  background: linear-gradient(180deg, #031321 0%, #021e34 100%);
  margin: 0em;
  padding-block: 10em !important;
  overflow-x: hidden;
  z-index: 2;
}

h1 {
  margin: 0em;
}
.about__Title {
  position: relative;
  text-align: center;
  /* padding: 2em; */
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 0em;
  /* background-color: red; */
}
.Top__title {
  stroke: #2b3845;
  fill: transparent;
  font: bold 40px sans-serif;
}
.bottom__title {
  letter-spacing: -2px;
  font-weight: 900;
  font-size: 32px;
  margin-top: -0.5em;
  margin-bottom: 1em;
  text-align: center;
}
.content {
  margin-top: 0em;

  font-size: 18px;
  color: #a5a5a5;
  padding-inline: 1em;
}
.flex {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 1px solid #5a5a5a;
  border-radius: 20px;
  width: 50%;
}
.firstDiv {
  margin: 1em;
}
.secondDiv {
  margin: 1em;
}
.owl-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 652px;
  max-width: 96%;
  margin: auto;
}

.owl-theme .owl-dots .owl-dot span {
  width: 40px !important;
  height: 6px !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: white !important;
}
.owl-carousel .owl-item {
  transform: scale(0.9) !important;
  transition: all 0.4s ease;
}
.owl-carousel .owl-item.active.center {
  transform: scale(1) !important;
  transition: all 0.4s ease;
}
.contentbg {
  display: none;
}
@media (min-width: 990px) {
  .About {
    background: url(../src/components/images/contentbg_right.png) 100% 0
        repeat-y,
      url(../src/components/images/contentbg_left.png) 0 0 repeat-y,
      linear-gradient(180deg, #031321 0%, #021e34 100%);
  }

  .flexRow {
    display: flex;
    align-items: center;
    width: min(90em, 100%);
    width: 100%;
    justify-content: space-around;
    margin: auto;
  }

  .owl-theme {
    /* max-width: 40%; */
    max-width: 35em;
    margin: 0em;
  }

  .titleSide {
    width: min(40em, 100%);
    padding-bottom: 5em;
  }
  .svgDiv {
    width: fit-content;
    margin-left: -2em;
    width: min(520px, 100%);
  }

  svg {
    width: min(520px, 100%);
  }
  .Top__title {
    transform: translateY(20px);
    font: bold 100px sans-serif;
  }
  .bottom__title {
    font-size: 72px;
    max-width: 100%;
    max-width: 100%;
    text-align: justify;
    line-height: 0.8;
  }
  .content__container {
    margin-top: 3em;
    max-width: 82%;
    margin-left: 0em;
  }
  .content {
    font-size: 18px;
    padding: 0em;
    text-align: justify;
  }
  .fc {
    margin-bottom: 0.5em;
  }
  .sc {
    margin-bottom: 2em;
  }
  .flex {
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 0em;
  }
  .col-6 {
    max-width: 40%;
    margin: 0em;
  }
  .firstCol {
    margin-right: 1em;
  }
  .secondCol {
    margin-left: 1em;
  }
  .firstDiv {
    padding: 1em 1em;
    padding: 0em !important;
    min-width: 30%;
  }
  .secondDiv {
    padding: 1.2em 1em;
    margin: 0em !important;
    min-width: 30%;
  }
}
.tokens {
  position: relative;
  margin-top: 10em;
  width: 80%;
  margin-inline: auto;
}
.svg {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 35%;
  top: -3.6em;
  z-index: 0;
}
.svgText {
  fill: none;
  stroke: #2b3845;
  font: bold 40px sans-serif;
}
.tokens__bottom__title {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
  text-align: center;
}
.token__card {
  position: relative;
  width: 95%;
  height: 120px;
  margin: 2em auto;
  transition: transform 300ms ease;
  transform: scale(1);
}

.token__card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 300ms ease;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -10px;
  border-radius: 20px;
}
.card__content {
  position: absolute;
  top: 25%;
  left: 35%;
  padding-left: 45px;
  font-weight: 900;
  max-width: 90%;
}
p {
  padding: 0em;
  margin: 0em;
}
.card__title {
  font-size: 20px;
}
.card__description {
  font-size: 14px;
  font-weight: normal;
}

.TOKENS {
  /* position: absolute; */
  /* left: 37%; */
  /* top: -25px; */
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 40px;
  text-align: center;
}
.tokens__bottom__title {
  margin-top: -0.7em;
  line-height: 1;
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
  text-align: center;
}
@media (min-width: 800px) {
  .TOKENS {
    font-size: 80px;
    text-align: start;
  }
  .tokensTitle {
    max-width: min(73em, 100%);
    margin: auto;
    margin-bottom: 5em;
  }
  .tokens__bottom__title {
    display: flex;
    text-align: start;
    font-size: 72px;
  }
  .tokensContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(75em, 100%);
    gap: 1em;
    margin: auto;
  }
  .token__card {
    height: 120px;
    margin: auto;
  }
  .card__content {
    max-width: 55%;
    left: 45%;
    padding: 0em;
  }
}
@media (min-width: 1000px) {
  .token__card {
    height: 200px;
  }
  .card__content {
    left: 40%;
    max-width: 15em;
  }
  .card__description {
    font-size: 18px;
  }
  .card__content {
    max-width: 50%;
    left: 50%;
    padding: 0em;
  }
}
.DOCUMENTATION {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 45px;
  text-align: center;
}
.WhitePaper__bottom__title {
  margin-top: -0.6em;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  text-align: center;
}
.deck {
  margin-top: 5em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 90%;
  margin: auto;
  margin-block: 5em;
}

.firstSpan {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: rgba(57, 247, 255, 0.1);
  border-radius: 50%;
  filter: blur(20px);
  transform: scale(1.8);
}
.secondSpan {
  background: linear-gradient(0deg, #021122 0%, #2d4b68 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border-radius: 20px;
}
.thirdSpan {
  background: linear-gradient(0deg, #021122 0%, #2d4b68 100%);
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border-radius: 20px;
}
.bok {
  transition: 200ms;
}
.grid__child:hover .bok {
  transform: scale(1.1);
  transition: 200ms;
}
.relative {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100% !important;
}
.bok {
  max-width: 70%;
  padding-block: 1em;
  z-index: 10;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}
.book {
  position: relative;
  max-width: 100%;
  height: 90% !important;
  z-index: 11;
}
.thumbnail {
  max-width: min(80em, 100%);
  height: auto;
}
@media (min-width: 990px) {
  .grid {
    height: 580px;
    max-width: min(80em, 100%);
  }
}
.video {
  margin-top: 10em;
}
.videDiv {
  position: relative;
  width: min(70em, 95%);
  height: auto;
  margin-inline: auto;
  padding-block: 5em;
}
.thumbnail {
  position: absolute;
  z-index: 10;
}
.none {
  display: none;
}
.VIDEO {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

/* ==========
===ROADMAP==
=========== */
.ROADMAP {
  overflow-x: hidden;
}
.Roadmap__bottom__title {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  margin-top: -0.9em;
  z-index: 1;
  text-align: center;
}
.roadmap {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 45px;
  text-align: center;
}
.roadmap__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  text-align: center;
  margin-inline: auto;
  min-width: 5em;
}

.roadmap__title {
  /* font-size: 2em; */
  font-size: 38px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  overflow-x: hidden;
}

.image {
  position: relative;
  display: block;
  margin: auto;
}
.imageShadow {
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  border-radius: 50%;
  background: rgba(57, 247, 255, 0.15);
  filter: blur(20px);
  transform: scale(1.6);
}
.image__container {
  position: relative;
  z-index: 10;
  margin: auto;
  margin-top: 3em;
  max-width: min(13em, 90%);

  transition: 300ms ease;
}
.image__container:hover {
  transform: scale(1.05);
  transition: 300ms ease;
}
.list {
  padding: 0em;
  margin: auto;
}
.roamap__li {
  position: relative;
  margin: 1em 0.5em;
  font-size: 1.2em;
  list-style: none;
  width: fit-content;
  margin: auto;
  margin-block: 0.5em;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: fit-content;
  margin: auto;
  padding: 0em;
}
.cheked {
  width: 20px;
  height: 20px;
  background-image: url(../src/components/images/marker.png);
  background-repeat: no-repeat;
  margin-right: 1em;
}
.noCHek {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 1em;
  background-color: red;
}
.contentbackground {
  display: none;
}
@media (min-width: 990px) {
  .ROADMAP::after {
    content: " ";
    position: absolute;
    height: 1000px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../src/components/images/projectbg.png) !important;
    background-repeat: no-repeat;
  }
  .roadmap__container {
    margin-top: -5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(65em, 80%);
  }
  .image__container {
    max-width: 50% !important;
  }
  .roamap__li {
    max-width: 15em;
  }
  .road__title {
    width: fit-content;
    margin-left: 10em;
    margin-bottom: 2em;
  }
  .roadmap {
    font-size: 120px;
    text-align: start !important;
  }
  .Roadmap__bottom__title {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  .ROADMAP {
    position: relative;
    background-image: url(../src/components/images/projectbg2.png);
    background-repeat: no-repeat;
    background-position-x: -5em;
  }
  .contentbackground {
    position: absolute;
  }
  .ROADMAP {
    height: fit-content;
  }
  .wrapper {
    display: flex;
    margin-top: 10em;
    margin-left: 2em;
    padding: 0em;
  }
  .wraper1 {
    margin-right: -6em;
    margin-top: -5em;
  }
  .wraper2 {
    margin-top: 9em;
    margin-left: 10em;
  }
  .wraper3 {
    margin-top: -4em;
  }
  .roadmap__container {
    width: 80%;
    display: flex;
  }
  .image__container {
    max-width: 20em !important;
  }
  .road__title {
    margin-top: 5em;
  }
  .wraper0,
  .wraper2 {
    align-self: flex-start;
  }
  .wraper1,
  .wraper3 {
    align-self: flex-end;
  }
  .wraper3 {
    margin-bottom: 10em;
  }
  .roamap__li {
    width: 20em;
  }
  .list {
    margin-inline: 2em;
  }
  .imageSpan {
    position: absolute;
    left: calc(50% - 20px);
    bottom: -140px;
    width: 50px;
    height: 150px;
    background-image: url(../src/components/images/project1_1.png);
    background-repeat: no-repeat;
  }
}
/*=============
=TOKENOMICS===
========= */

.TOKENOMICS {
  margin-top: 5em;
  overflow-x: hidden;
}
.wholePage {
  margin-top: 5em;
}
table {
  width: min(45em, 100%);
  margin: auto;
  border-collapse: collapse;
}
.tableDiv {
  overflow-x: scroll;
}

th {
  text-align: start;
}
td,
th {
  /* padding: 0.7em 0.5em; */
  padding: 11px 10px !important;
}

td:nth-child(n + 2):nth-child(-n + 6) {
  border-bottom: 1px solid #424a56;
}
td:last-child,
td:first-child {
  border-bottom: 1px solid #021e33;
}
td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody tr:hover td {
  background-color: #ff1c5e;
}
.hovered {
  background-color: #ff1c5e;
  fill: #ff1c5e;
  transition: 200ms ease;
}
.noText {
  font-size: 45px;
  font-weight: 900;
}
.text {
  font-size: 20px;
}
.procentText {
  font-weight: 900;
  font-size: 40px;
}
.svgContainer {
  margin: auto;
  max-width: fit-content;
}
@media (min-width: 800px) {
  .wholePage {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1em;
    max-width: 90%;
    margin-inline: auto;
  }
  .table__container {
    overflow-x: hidden;
  }
  td:last-child,
  td:first-child {
    display: none;
  }
  th {
    font-weight: 900;
  }
  body tr {
    font-size: 1.2em;
    font-weight: 700;
  }
  .tableDiv {
    overflow-x: hidden;
  }
}

/* ==========
=======team===
===========*/

.TEAM {
  position: relative;
  margin-block: 5em;
  overflow-x: hidden;
  min-height: fit-content;
  padding-bottom: 10em;
}

.team__title {
  margin-bottom: 5em;
}
.team {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 45px;
  text-align: center;
}
.Team__bottom__title {
  margin-top: -0.8em;
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
  text-align: center;
}

.Teamgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;

  margin: auto;
  gap: 1em;
  row-gap: 2em;
  z-index: 10;
}
.card {
  position: relative;
  text-align: center;
}
.fullname {
  font-weight: 700;
  margin-block: 0.5em;
  font-size: 17px;
}
.Team__image {
  position: relative;
  margin: auto;
}
.linkedinLink {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
@media (min-width: 1000px) {
  .team__title {
    max-width: 77%;
    margin: auto;
    margin-bottom: 4em;
  }
  .team {
    font-size: 100px;
    text-align: start;
  }
  .Team__bottom__title {
    text-align: start;
    font-size: 80px;
  }
  .Teamgrid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
  }
  .fullname {
    font-size: 20px;
    margin-block: 0.5em;
  }
}
@media (min-width: 1200px) {
  .Teamgrid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
  }
  .Team__image {
    max-width: 80%;
  }
}

.ad__name {
  max-width: 70%;
  margin: auto;
}
.PARTNERS {
  overflow-x: hidden;
}

.sponsorsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  margin: auto;
  /* justify-items: center; */
  /* align-items: center; */
  gap: 1em;
  row-gap: 2em;
}
.sponsors__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5em;
  height: 80%;
  border: 1px solid #5a5a5a;
  border-radius: 15px;
}
@media (min-width: 800px) {
  .sponsorsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .sponsorsGrid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 70em;
    gap: 2em;
    row-gap: 3em;
  }
}
.NEWS {
  margin-top: 15em;
}
.news__title {
  margin-top: 10em;
}

.nImage {
  border-radius: 20px;
}
.read__more {
  color: #5a5a5a;
  font-size: 20px;
  margin: 0em;
  padding: 0em;
}
.carousel__container .owl-theme {
  max-height: 10px !important;
  padding: 1em;
  background-color: red;
}
.NEWS .owl-carousel .owl-item.active.center {
  transform: scale(0.9) !important;
  transition: all 0.4s ease;
}
.NEWS .owl-carousel .owl-item {
  max-width: 400px !important;
}
.NEWS .owl-carousel .owl-item img {
  border-radius: 20px !important;
  background-color: red;
  max-width: 50% !important;
  max-height: 50% !important;
}

/* =========
====footer==
==========*/
a {
  color: white !important;
}
.Footer {
  position: relative;
  margin-top: 5em;
}
p {
  position: relative;
  z-index: 20;
  min-height: fit-content;
}
.team,
.team__title,
.Team__bottom__title,
button,
.news__input {
  position: relative;
  z-index: 30;
}
.Footer::before {
  content: " ";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url(../src/components/images/footer.jpg);
  background-position-x: -5em;
  background-position-y: -10em;
  z-index: 0;
}
.f__container {
  max-width: 90%;
  width: min(60em, 90%);

  margin: auto;
}
.footer__paragraph {
  font-size: 1.1em;
  font-weight: 400;
  margin-block: 2.5em;
}
.footer__title {
  margin-bottom: 0em !important;
}
.inputs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.f__container * {
  z-index: 10;
}
.input {
  padding: 1.5em;
  border: none;
  background-color: rgba(17, 26, 39, 0.3);
  border-radius: 20px;
  margin-block: 1em;
  color: white;
  font-size: 1.2em;
}
.email {
  padding-bottom: 10em;
}
.input::placeholder {
  position: absolute;
  left: 2em;
  font-size: 1.3em;
  color: #7f8382;
}
.footer__button {
  z-index: 10;
  background-color: #ff1c5e;
  color: white;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  max-width: 40%;
  height: 55px;
}
.line {
  margin-block: 2em;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0.6;
}
.footer__downloads {
  width: 100% !important;
}
.footer__inner__downloads {
  display: flex;
}
@media (max-width: 300px) {
  .icons__flex {
    flex-wrap: wrap;
  }
}
.icons__flex {
  display: flex;
  width: min(30em, 50vw) !important;
  justify-content: space-between;
}
.footer__icons p {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.brandIcons {
  width: 30px;
  height: 30px;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 20px;
}
.brandIcons:hover {
  background-color: #ff1c5e;
  border-color: #ff1c5e;
  cursor: pointer;
}
.news__title {
  margin-block: 1.5em;
  font-size: 1.3em;
}
.news__input {
  border: 1px solid #7f8382;
  width: min(25em, 90%);
  height: 4em;
  background-color: transparent;
  border-radius: 15px;
}
.news__input::placeholder {
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
}
.news__button {
  height: 3em;
  border-radius: 15px;
  background-color: #ff1c5e;
  border: none;
  width: 10em;
  color: white;
  font-size: 1.2em;
  margin-left: 1em;
}
.copyRight {
  margin-top: 2em;
  padding-bottom: 5em;
  font-size: 1.3em;
  color: gray;
}
.footerImg {
  display: none;
}
.f__container {
  overflow-x: hidden;
}
@media (min-width: 1000px) {
  .f__container {
    margin: 0em;
    margin-left: 2em;
    overflow-x: hidden;
  }
  .footerImg {
    display: block;
    position: absolute;
    right: -30em;
    bottom: 0em;
    transform: scale(0.5);
  }
}
